@media screen and (min-width: 1024px) {
	.abody {
		font-size: 48px;
	}
}

@media screen and (max-width:320px) {
	.abody {
		font-size: 14px;
	}
}

@media screen and (min-width: 320px) and (max-width:479px) {
	.abody {
		font-size: 16px;
	}
}

@media screen and (min-width: 480px) and (max-width:639px) {
	.abody {
		font-size: 18px;
	}
}

@media screen and (min-width: 640px) and (max-width:767px) {
	.abody {
		font-size: 24px;
	}
}

@media screen and (min-width: 768px) and (max-width:1023px) {
	.abody {
		font-size: 32px;
	}
}

input,
button,
select,
textarea {
	outline: none
}


/*header标题字体大小*/

.header-font-size {
	font-size: 1.2em !important;
}


/*基础header颜色*/

.header-color {
	background-color: #1e1e1e;
}


/*基础body背景颜色*/

.body-color {
	background-color: #e3e3e3;
}


/*默认字体颜色*/

.font-color {
	color: #626262 !important;
}


/*灰色字体颜色*/

.font-color1 {
	color: #737373 !important;
}


/*大黑色*/

.font-color2 {
	color: #999999 !important;
}


/*头部导航*/
.dhide{ display: none !important;}

.warmline{ width: 1.5em; height: 1px; background: #BABABA;}
.disabled { pointer-events: none; }

.footer{ position: fixed; left: 0;bottom: 0; padding: 3px 0; background: #fff; width: 100%; border-top: 1px solid #E1E1E1; z-index: 10;}
.footer_img img{ width: 1.4em;}
/*请求加载显示*/

/*页面切换*/
.fix_box{position:fixed;top:0;left:0;z-index:99;overflow:auto;width:100%;height:100%;background:rgba(0,0,0,.5);}

.pt-page-moveFromTop{-webkit-animation:moveFromTop .6s ease both;-moz-animation:moveFromTop .6s ease both;animation:moveFromTop .6s ease both;}
.pt-page-moveToTop{-webkit-animation:moveToTop .6s ease both;-moz-animation:moveToTop .6s ease both;animation:moveToTop .6s ease both;}
.switch_page{position:fixed;top:0;left:0;z-index:99;overflow:auto;width:100%;height:100%;background:rgba(255,255,255,1);}


.pt-page-moveToBottom{-webkit-animation:moveToBottom .6s ease both;-moz-animation:moveToBottom .6s ease both;animation:moveToBottom .6s ease both}
.pt-page-moveFromBottom{-webkit-animation:moveFromBottom .6s ease both;-moz-animation:moveFromBottom .6s ease both;animation:moveFromBottom .6s ease both}

@keyframes rotleft{
	0%{ transform: rotate(0deg);}
	100%{transform: rotate(180deg)}
}
@-webkit-keyframes rotleft{
	0%{ -webkit-transform: rotate(0deg);}
	100%{-webkit-transform: rotate(180deg)}
}
@-moz-keyframes rotleft{
	0%{ -moz-transform: rotate(0deg);}
	100%{-moz-transform: rotate(180deg)}
}


@keyframes rotright{
	0%{ transform: rotate(0deg);}
	100%{transform: rotate(-180deg)}
}
@-webkit-keyframes rotright{
	0%{ -webkit-transform: rotate(0deg);}
	100%{-webkit-transform: rotate(-180deg)}
}
@-moz-keyframes rotright{
	0%{ -moz-transform: rotate(0deg);}
	100%{-moz-transform: rotate(-180deg)}
}

@keyframes slideleft{
	0%{ left: 0;}
	100%{opacity: 0; left: 100%;}
}
@-webkit-keyframes slideleft{
	0%{  left: 0;}
	100%{opacity: 0; left: 100%;}
}
@-moz-keyframes slideleft{
	0%{  left: 0;}
	100%{opacity: 0; left: 100%;}
}

@keyframes slideright{
	0%{ right: 0;}
	100%{opacity: 0; right: 100%;}
}
@-webkit-keyframes slideright{
	0%{  right: 0;}
	100%{opacity: 0; right: 100%;}
}
@-moz-keyframes slideright{
	0%{  right: 0;}
	100%{opacity: 0; right: 100%;}
}

/*页面切换动画*/
@-webkit-keyframes moveFromTop{from{-webkit-transform:translateY(-100%);}
}
@-moz-keyframes moveFromTop{from{-moz-transform:translateY(-100%);}
}
@keyframes moveFromTop{from{transform:translateY(-100%);}
}
@-webkit-keyframes moveToTop{to{-webkit-transform:translateY(-100%);}
}
@-moz-keyframes moveToTop{to{-moz-transform:translateY(-100%);}
}
@keyframes moveToTop{to{transform:translateY(-100%);}
}
@-webkit-keyframes moveToBottom{to{-webkit-transform:translateY(100%)}
}
@-moz-keyframes moveToBottom{to{-moz-transform:translateY(100%)}
}
@keyframes moveToBottom{to{transform:translateY(100%)}
}
@-webkit-keyframes moveFromBottom{from{-webkit-transform:translateY(100%)}
}
@-moz-keyframes moveFromBottom{from{-moz-transform:translateY(100%)}
}
@keyframes moveFromBottom{from{transform:translateY(100%)}
}